<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServerMainMold.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ServerMainMold.Properties.Settings>
            <setting name="PCDmisTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BladeTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>G:\AutoMeasureItems\ServerPathRoot\Log.txt</value>
            </setting>
            <setting name="BladeExe" serializeAs="String">
                <value>C:\Program Files (x86)\Hexagon\PC-DMIS Blade 5.0 (Release)\Blade.exe</value>
            </setting>
            <setting name="GotoProg" serializeAs="String">
                <value />
            </setting>
            <setting name="ServiceOpenTimeout" serializeAs="String">
                <value>30</value>
            </setting>
        </ServerMainMold.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <services>
            <service name="Gy.HrswAuto.CmmServer.MeasureServiceContext">
                <endpoint address="net.tcp://localhost:6666/cmmcontrolservice"
                    binding="netTcpBinding" bindingConfiguration="" contract="Gy.HrswAuto.ICmmServer.ICmmControl" />
            </service>
            <service name="Gy.HrswAuto.CmmServer.PartConfigService">
                <endpoint address="net.tcp://localhost:7777/partconfigservice"
                    binding="netTcpBinding" bindingConfiguration="" contract="Gy.HrswAuto.ICmmServer.IPartConfigService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>