<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientMainMold.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ClientMainMold.Properties.Settings>
            <setting name="RootPath" serializeAs="String">
                <value>D:\clientPathRoot</value>
            </setting>
            <setting name="BladePath" serializeAs="String">
                <value>blades</value>
            </setting>
            <setting name="PartProgramsPath" serializeAs="String">
                <value>programs</value>
            </setting>
            <setting name="ReportsPath" serializeAs="String">
                <value>results</value>
            </setting>
            <setting name="SettingsPath" serializeAs="String">
                <value>settings</value>
            </setting>
            <setting name="SettingsSavePath" serializeAs="String">
                <value>settingssave</value>
            </setting>
            <setting name="temp" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="PlcIpAddress" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
        </ClientMainMold.Properties.Settings>
    </userSettings>
</configuration>