<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0">
                    <security mode="None" />
                </binding>
                <binding name="NewBinding1" transferMode="Streamed" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="Gy.HrswAuto.CmmServer.MeasureServiceContext">
                <endpoint address="net.tcp://localhost:6666/cmmcontrolservice"
                    binding="netTcpBinding" bindingConfiguration="NewBinding0"
                    name="cmmcontrolservice" contract="Gy.HrswAuto.ICmmServer.ICmmControl" />
            </service>
            <service name="Gy.HrswAuto.CmmServer.PartConfigService">
                <endpoint address="net.tcp://localhost:7777/partconfigservice"
                    binding="netTcpBinding" bindingConfiguration="NewBinding1"
                    name="partconfigservice" contract="Gy.HrswAuto.ICmmServer.IPartConfigService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>